.status-tab{
    height: 100%;
    width: 100%;
}
/* .canvas-container {
    height: 10vh;
}
.chartjs-render-monitor {
    height: 10vh;
    width: 90vw;
}
.chartjs-render-monitor canvas{
    height: 20vh;
    width: 90vw;
} */
